<!-- Awards -->
<section class="bg-light page-section" id="{{ site.data.sitetext.awards.section | default: "awards" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.awards.title | markdownify | default: "Awards" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext.awards.text | default: "Recognitions received"}}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          {%- assign align = site.data.sitetext.awards.start_align | default: "left" -%}
          {%- for event in site.data.sitetext.awards.events -%}
            {%- if event.align -%}
              {%- assign align = event.align -%}
            {%- else -%}
              {%- assign align = align | replace: "left", "right" | replace: "right", "left" -%}
            {%- endif -%}
            
            <li class="{% if align == "right" %}timeline-inverted{% endif %}">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="{{ event.image }}" alt="{{ event.alt | default: "" }}">
              </div>
              <div class="timeline-badge">{{ event.year }}</div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>{{ event.title }}</h4>
                  
                  {% assign desc_parts = event.desc | split: "<br>" %}
                  {% if desc_parts.size > 1 %}
                    <div class="award-host">{{ desc_parts.first }}</div>
                  {% endif %}
                </div>
                <div class="timeline-body">
                  {% if desc_parts.size > 1 %}
                    {% for part in desc_parts offset:1 %}
                      <p class="award-description">{{ part | markdownify }}</p>
                    {% endfor %}
                  {% else %}
                    <p class="award-description">{{ event.desc | markdownify }}</p>
                  {% endif %}
                </div>
              </div>
            </li>
          {% endfor %}
          
          {% if site.data.sitetext.awards.end %}
            <li>
              <div class="timeline-image">
                <h4>{{ site.data.sitetext.awards.end }}</h4>
              </div>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- End Awards -->
